body, div, p, a{
	margin: 0px;
	padding: 0px;
}

p{
	text-decoration: none;
	user-select: none;
}

html, body{
	width: 100%;
	height: 100%;
}
/* 背景设置 */
body{
	background: linear-gradient(#fbdada,#e9e8e8,#ab8080);
	overflow: hidden;
}
/* 404文字设置 */
.code{
	display: block;
	width: 100%;
	height: 120px;
	line-height: 120px;
}

.code p{
	height: inherit;
	line-height: inherit;
	text-align: center;
	font-family: BalboaWide Bold;
	font-size: 50px;
	color: #8a6969;
	opacity: 1;
}
/* 中间娃娃容器 */
.road{
	width: 100%;
	height: 600px;
}
/* 设置阴影 */
.road .shadow{
	position: relative;
	margin: auto;
	margin-top: 25%;
	width: 330px;
	height: 70px;
	border:0px;
	background: linear-gradient(#777373,#3c3c3c);
	box-shadow: 0px 3px 10px 2px #713f3f, 0px -3px 10px 2px #c65b5b inset;
	border-radius: 100%;
}
/* 提示文字 */
.road .text_404{
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	color: #8a6969;
	opacity: 1;
}
.road .text_404 .contact{
	margin-top: 20px;
	font-size: 20px;
}
/* 气泡 */
.road .shadow .bubble{
	display: block;
	position: absolute;
	top: -180px;
	left: 350px;
	width: 246px;
	height: 179px;
	background-image: url('../images/bubble.png');
	background-repeat: no-repeat;
	text-align: center;
}
/* 气泡的字 */
.road .shadow .bubble a{
	line-height: 140px;
	font-size: 1.5em;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	user-select:none;
	transition: all 0.5s ease-in-out;
}
/* 鼠标悬停时改变文字颜色和下划线 */
.road .shadow .bubble a:hover{
	color: #f71f31;
    text-decoration: underline;
}
/* 放娃娃 */
.road .shadow .shelt{
	position: absolute;
	margin: auto;
	margin-top: -80px;
	width: 330px;
	height: 150px;
	border:0px;
	border-radius: 100%;
	overflow: hidden;
	background: transparent;
}
/* 娃娃的头 */
.road .shadow .head{
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 150px;
	width: 120px;
	height: 300px;
	border: 0px;
	border-radius: 100% 100% 0 0;
	background-color: #382929;
}
/* 娃娃的眼睛 */
.road .shadow .head .eyes{
	width: 100%;
	height: 50px;
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
/* 左眼右眼 */
.road .shadow .head .eyes .lefteye,.road .shadow .head .eyes .righteye{
	position: relative;
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background-color: #f4f1f1;
}
/* 娃娃的左眉毛 */
.road .shadow .head .eyes .lefteye .eyebrow{
	position: absolute;
	width: 38px;
	left: 0px;
	top: 0px;
	height: 19px;
	border-radius: 19px 19px 0 0;
	background-color:#654c4c;
	clip: rect(0px 38px 0px 0px);
}
/* 娃娃的右眉毛 */
.road .shadow .head .eyes .righteye .eyebrow{
	position: absolute;
	width: 38px;
	left: 0px;
	top: 0px;
	height: 19px;
	border-radius: 19px 19px 0 0;
	background-color:#654c4c;
	clip: rect(0px 38px 0px 0px);
}
/* 诶除了我谁还这么研究你的样子位置，累。。。 */
/* 左眼珠子 */
.road .shadow .head .eyes .lefteye .eyeball{
	position: absolute;
	width: 10px;
	left: 50%;
	top: 50%;
	margin-top: -5px;
	margin-left: -5px;
	height: 10px;
	border-radius: 100%;
	background-color:#382929 ;
}
/* 右眼珠子 */
.road .shadow .head .eyes .righteye .eyeball{
	position: absolute;
	width: 10px;
	left: 50%;
	top: 50%;
	margin-top: -5px;
	margin-left: -5px;
	height: 10px;
	border-radius: 100%;
	background-color:#382929 ;
}
/* 帽子 */
.road .shadow .hat{
	position: absolute;
	top: -297px;
	left: -8px;
	width: 330px;
	height: 330px;
	background: url('../images/sign.png') no-repeat;
	transform-origin: left bottom;
	transform: rotate(17deg);
}
