*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
html {
    font:italic bold 16px "华文行楷" !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}   
body{
    padding-bottom: 130px;
}
.container{
    width: 1100px !important;
    margin: 0 auto;
}
a{
    display:inline-block;
    color: rgb(228, 237, 244);
    font:italic bold 18px "华文行楷";
    text-decoration:none;
}
ul,ol{
    list-style: none;
}
img{
    border:0;
    vertical-align:text-bottom;
}
.icon img{
    width:32px;
    height:32px;
}
button{
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.clearfix::before,
.clearfix::after{
    content:'';
    display: table;
}
.clearfix{
    clear:both;
}
button{
    border: none;
}
input{
    width: 280px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #fff;
    color: #334333;
    border: none;
    border-radius: 10px;
    outline: none;
}
input:focus{
    outline: none;
    box-shadow: 0 0 5px #333;
}
input[type="textarea"]{
    overflow: auto;
    resize:none;
    outline:none;
}
img{
    vertical-align: middle;
}
dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}
button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.red{
    color:red;
}
strong {
    font-size:25px;
}