/* 左边 */
.nav-sidebar{
  display: flex;
  flex-direction: column;
  height:300px;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  box-shadow: #5e0b12 0 0 10px inset;
}
.nav-sidebar li{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.nav-sidebar a{
  text-align: center;
  color: #5e0b12;
}
.nav-sidebar a:hover{
  color: #f71f31;
  text-decoration: underline;
}
/* 设置表格的标题样式 */
#tab-container .tab-container-menu {
  background-image: linear-gradient(rgb(145, 45, 45), #ffffff);
  height: 50px;
  margin-top:40px;
  overflow: hidden;
}
/* 对表格的初始化设置 */
#tab-container .tabs {
  list-style: none;
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
}
/* 设置li为行内块元素，这样可以水平排列 */
#tab-container .tabs li {
  display: inline-block;
}
/* 设置a标签的样式 */
#tab-container .tabs li a {
  display: inline-block;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
/* 设置a标签的下边框样式 */
#tab-container .tabs li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleX(0);
  border-bottom: 3px solid #5e0b12;
  transition: all .2s;
}
/* 设置a标签的变大效果 */
#tab-container .tabs li.active a:after{
   transform: scaleX(1);
}
/* 内容占宽设置 */
#tab-container .tab-container-content {
  width: 100%;
}
/* 设置表格内容框架，不显示样式 */
#tab-container .tab-container-content .iframe {
  width: 100%;
  display: none;
}
#tab-container .tab-container-content div.active {
  display: block;
}
#tab-container .book-img{
  width:100px;
  height:120px;
}
