/*---------------------------------------------数字敦煌模块----------------------------------------------*/

/* 没有书的部分的背景颜色设置 */
body {
  background-image: linear-gradient(to bottom, #ffffff,#ffffff, rgb(150, 57, 57));
}
.scene {
    width: 45%;
    height: 85%;
    /* 底部height: 130px; */
    margin: 2% 5% 5% 50%; 
    perspective: 1000px;
}
/* 整个书容器设置 */
.book {
  position: relative;
  width: 500px;
  height: 500px; 
  transform-style: preserve-3d;
}
/* 每个页面的总体设置 */
.page {
  cursor: pointer;
  position: absolute;
  color: #5e0b12;
  width: 100%;
  height: 100%;
  transition: 1.5s transform;
  transform-style: preserve-3d;  
  transform-origin: left center;
}
/* 前后页的总设置 */
.front,
.back {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  backface-visibility: hidden;
  background: linear-gradient(to bottom right, #fff, #dca6a6);
  border-radius: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
/* 后一页往后退 */
.back {
  transform: rotateY(180deg);
}
/* 当前页的优先级设置 */
.page.active {
  z-index: 1;
}
.page.flipped {
  transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}
/* 敦煌名字 */
.dunhuang-name {
  text-align: center;
  color: #5e0b12;
  font-size:30px;
  text-shadow: 1px 1px 1px rgba(220, 207, 93, 0.5)
}
/* 敦煌图片 */
.dunhuang-img img{
  width:100%;
  height:300px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5)
}
/* 敦煌时间 */
.dunhuang-time {
  font-size:20px;
  text-align: center;
}
.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
}
}