/* 设置总体需要 */
* {
  font: italic bold 16px "华文行楷";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* 左边固定导航栏方便页面跳转 */
.nav-list {
  position: fixed;
  top: 20%;
  left: 2%;
  height: 300px;
  width: 80px;
  padding: 10px;
  z-index: 2;
  background-image: linear-gradient(to right, rgb(117, 38, 38), #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-list a {
  color: #5e0b12;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

/* 鼠标悬停时导航列表文字的颜色变化 */
.nav-list a:hover {
  color: #f71f31;
  text-decoration: underline;
}

.heritage {
  --l: calc(100vw/var(--n-cols));
  --hl: calc(.5*var(--l));
  --ri: calc(.5*1.73205*var(--l));
  box-sizing: border-box;
  display: grid;
  place-content: center;
  grid-template: repeat(var(--n-rows), var(--l))/repeat(var(--n-cols), var(--ri));
  grid-gap: var(--hl) 0;
  overflow: hidden;
  margin: 0;
  padding: var(--hl) 0;
  /* 设置十种非物质文化遗产网页的布局高度 */
  height: 110vh;
  /* 设置非物质文化遗产网页的背景颜色 */
  background: linear-gradient(to bottom right, #fff, #dca6a6);
  filter: drop-shadow(2px 2px 5px);
}

@media (orientation: landscape) {
  .heritage {
    --l: calc(100vh/(var(--n-rows) + 3));
  }
}

/* 每个蜂巢也就是每个非物质文化遗产的布局 */
.hex-cell {
  overflow: hidden;
  grid-column-end: span 2;
  margin: calc(-1*var(--hl)) 0;
  transform: scale(0.95);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  border: 2px solid #706566;
  /* 边框红色 */
}

img {
  --hl: 0;
  width:100%;
  height:100%;
  object-fit: contain;
  transform: scale(calc(1 + .2*var(--hl)));
  /* 高亮变化设置 */
  filter: brightness(calc(.6*(1 + var(--hl))));
  transition: .7s;
}

img:hover {
  --hl: 1;
}