/*----------------------------网页首页----------------------------*/
/*入口*/
.entry{
    height:500px;
    background-color: #f2f2f2;
}
.entry .container{
    height:500px;
    position: relative;
}
/*分类菜单*/
.entry .category-menu{
    width:260px;
    height:500px;
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0,0 ,0, .5);
}
.entry .category-menu li{
    width:100%;
    height:33%;
    text-align: center;
}
.entry .category-menu li:first-child{
    margin-top:10%;
}
.entry .category-menu li a{
    position: relative;
    display: block;
    padding: 30px;
    width: 100%;
    font-size: 25px;
    transition: all 1s ease;
}
.entry .category-menu li:hover a{
    background-image: linear-gradient(to right,rgb(117, 38, 38), #ffffff);
}
.entry .container .category-menu li a:hover{
    color:#621212;
}
.entry .container .category-menu li a:hover{
    text-decoration:underline;
}
.entry .category-menu  li:nth-child(n+1) a::after{
    position: absolute;
    content: "";
    top: 50%;
    right:0;
    transform: translate(-50%, -50%);
    width:30px;
    height:50px;
    background:url('../images/箭头.png') no-repeat center;
    background-size: 20px auto;
    display: none;
}
.entry .category-menu li:nth-child(n+1):hover a::after{
    display: block;
}


/*轮播图*/
.entry .container .banner{
    position: relative;
    height:500px;
    background-image:url('https://vcg00.cfp.cn/creative/vcg/800/new/VCG211418059777.jpg')
}
.entry .container .banner img{
    width:100%;
    height:100%;
}
.entry .container .banner li:nth-child(n+1){
    width:100%;
    height:100%;
    display: none;
    transition: all 1s ease;
}
.entry .container .prevArrow{
    position: absolute; 
    top:220px;
    left:260px;
    width:50px;
    height:50px;
    background:url('../images/轮播图左箭头.png') no-repeat 5px 3px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.entry .container .nextArrow{
    position: absolute; 
    top:220px;
    width:50px;
    height:50px;
    right:0;
    background:url('../images/轮播图右箭头.png') no-repeat 5px 3px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
   
}
.entry .container .prev:hover{
    background-color:rgba(0,0,0,.3)
}
.entry .container .next:hover{    
    background-color:rgba(0,0,0,.3)
}
.entry .container .indicator{
    position: absolute;
    bottom: 10px;
    left:460px;
    width:250px;
    height:20px;
    text-align: center;
    cursor: pointer;
}
.entry .container .indicator li{
    display: inline-block;
    width:20px;
    height:20px;
    margin:0 5px;
    border-radius: 50%;
    background-color: rgb(243, 209, 209);
    cursor: pointer;
}
.entry .container .indicator li.active{
    background-color: rgb(237, 147, 147);
}
/*------------------------------展示-------------------------*/
.cloth-show {
    height:870px;
}
/*展示标题*/
.cloth-show .hd{
    position: relative;
    height:90px;
    line-height: 70px;
    transform-style: preserve-3d;
    transition: all 4s ease-in-out;
}
.cloth-show .hd h2{
    color: #5e0b12;
    font-size: 25px;
}
.cloth-show .hd .font,.cloth-show .hd .back{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}
.cloth-show .hd .font{
    background-image: linear-gradient(rgb(117, 38, 38), #ffffff);
}
.cloth-show .hd .back{
    transition: transform 1s ease-in-out;
    background-image: linear-gradient(rgb(117, 38, 38), #ffffff);
}
.hd:hover .back{
    transform:translateZ(100px);
}
.cloth-show .hd span{
    position: absolute;
    top:40px;
    left:50px;
    color: #5e0b12;
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
}
.cloth-show .hd a{
    position: relative;
    width:100px;
    height:40px;
    color: #5e0b12;
    font-weight: normal;
    line-height: 90px;
}
.cloth-show .hd a:hover{
    color: #e91c2d;
    text-decoration: underline;
}
.cloth-show .hd a::after{
    content: "";
    position: absolute;
    top:-5px;
    right: 0;
    width: 32px;
    height: 32px;
    background: url('../images/斜上箭头.png')no-repeat;
}
/*展示列表*/
.cloth-show .cloth-list li{
    position: relative;
    float:left;
    width:25%;
    height:250px;
    margin-top:10px;
    padding:20px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 10px #999;
    z-index: 0;
}
/*图片设置*/
.cloth-show .cloth-list li img{
    width:90%;
    transition: all 0.3s ease-in-out;
}
.cloth-show .cloth-list li:hover img{
    transform: scale(1.5);
}
.cloth-show .cloth-list li:hover .i img{
    opacity: 1;
}

/* 文字设置 */
.cloth-text {
    position: absolute;
    bottom: 30px;
    color: #5e0b12; 
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    font-weight: 400;
}

li:hover .cloth-text {
    top:60%;
    color: #f2f2f2;
    z-index: 2;
}
/*渐变背景设置*/
.cloth-list .mask{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(transparent, rgba(0,0,0,.6));
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.cloth-list li:hover .mask{
    opacity: 1;
    z-index: 1;
}